{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 150,
    "proseWrap": "always",
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "semi": true
}
