MONGODB_URI=mongodb://localhost:27017/dl_product_svc
PORT=3003
REDIS_URL=redis://localhost:6379
JWT_SECRET=change-me-same-as-auth
INVENTORY_SERVICE_URL=http://localhost:3002
SERVICE_AUTH_SECRET=igual-aos-outros-servicos
SEED_INVENTORY_QUANTITY=50
SEED_INVENTORY_MAX=100
SEED_INVENTORY_MIN=10
SEED_INVENTORY_LOW_STOCK_THRESHOLD=5
SEED_INVENTORY_CREATED_BY=seed@dl-orders.local
