DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dl_orders_svc
RABBITMQ_URL=amqp://admin:admin@localhost:5672
QUEUE_NAME=orders_queue
PORT=3001
PRODUCT_SERVICE_URL=http://localhost:3003
MONGODB_URI=mongodb://localhost:27018/dl_orders_audit
